<!doctype html>
<html>
<head>
    <title>MyFotos - Login</title>
</head>

<body>

    <form>
        <div>
            <label for="#login">Login:</label>
            <input id="login" type="email" name="login" value="Email" placeholder="Email" required>
        </div>
        <div>
            <label for="#password">Password:</label>
            <input id="password" type="password" name="password" value="" required>
        </div>
        <span>Se ainda não tem conta registe-se aqui: <a href="/registo">registo</a></span>
    </form>


</body>

</html>